<<<<<<< HEAD
.corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
}



.corpo button{
    width: 120px;
    height: 55px;
    border-radius: 10px;
    
}
=======
.corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
}



.corpo button{
    width: 120px;
    height: 55px;
    border-radius: 10px;
    
}
>>>>>>> a5fd64b9cb7ae65a87ed37f5d2393fc7ecfbc716
