
.corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
}



.corpo button{
    width: 120px;
    height: 55px;
    border-radius: 10px;
    
}

.corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
}



.corpo button{
    width: 120px;
    height: 55px;
    border-radius: 10px;
    
}
