@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&family=Rubik+Wet+Paint&display=swap');
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid #141314;
    background: #e711d5;
    
}

.header{
    width: 100%;

}

.header img{
    height: 120px;
    border: 2px solid #f74fe9;
    border-radius: 90px;
}

.header div{
    display: flex;
    justify-content: space-around;
    width: 400px;
   
}

.header div span{
    font-family: 'Rubik Puddles';
    font-size: 30px;
    font-weight: bold;
}

